/*
 * Description: Beomon status viewer's CSS
 * Written by: Jeff White of the University of Pittsburgh (jaw171@pitt.edu)
 * Derived from unlicensed work by Adam Cerini of the University of Pittsburgh
 * Version: 2
 * Last change: Split into two table designations
*/





/* General */
tr:nth-child(odd) {
    background: blue;
    background: gainsboro;
}


body {
    background-color: #A4A4A4;
}


.title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #F6F2F2;
}


span.dropt:hover {
    text-decoration: none; background: #ffffff; z-index: 6;
}

span.dropt span {
    position: absolute; left: -9999px;
    margin: 20px 0 0 0px; padding: 3px 3px 3px 3px;
    border-style: solid; border-color: black; border-width: 1px; z-index: 6;
}

span.dropt:hover span {
    left: 2%; background: whitesmoke;
    width: 350px;
}

td {
    position: relative;
}





/* Compute nodes */
table.compute_nodes {
    margin: auto;
    background: whitesmoke;
    border-collapse: collapse;
}

table.compute_nodes th, table.compute_nodes thead th, table.compute_nodes thead td {
    border: 1px silver;
    text-align: center;
    padding: 0.4em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

table.compute_nodes td {
    border: 1px silver;
    text-align: center;
    padding: 0.2em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

table.compute_nodes th {
    background: #bcbfc2;
    text-align: left;
}

table.compute_nodes tr:hover td {
   background: mintcream !important;
}

table.compute_nodes caption {
    margin-left: inherit;
    margin-right: inherit;
}





/* Summary */
table.summary {
    margin: auto;
    background: whitesmoke;
    border-collapse: collapse;
}

table.summary th, table.summary thead th, table.summary thead td {
    border: 1px silver;
    text-align: center;
    padding: 0.4em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

table.summary td {
    border: 1px silver;
    text-align: left;
    padding: 0.2em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

table.summary th {
    background: #bcbfc2;
    text-align: left;
}

table.summary caption {
    margin-left: inherit;
    margin-right: inherit;
}
