/*
 * Description: Beomon status viewer's CSS
 * Written by: Jeff White of the University of Pittsburgh (jaw171@pitt.edu)
 * Derived from unlicensed work by Adam Cerini of the University of Pittsburgh
 * Version: 2.1.2
 * Last change: Removed dropt class
*/





/* General */
tr:nth-child(odd) {
    background: gainsboro;
}


body {
    background-color: #CCCCCC;
}


.title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #F6F2F2;
}





/* Compute nodes */
table.compute_nodes {
    margin: auto;
    background: whitesmoke;
    border-collapse: collapse;
}

table.compute_nodes th, table.compute_nodes thead th, table.compute_nodes thead td {
    border: 1px silver;
    text-align: center;
    padding: 0.4em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

table.compute_nodes td {
    border: 1px silver;
    text-align: center;
    padding: 0.2em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

table.compute_nodes th {
    background: #bcbfc2;
}

table.compute_nodes tr:hover td {
   background: mintcream !important;
}

table.compute_nodes caption {
    margin-left: inherit;
    margin-right: inherit;
}





/* Summary */
table.summary {
    margin: auto;
    background: whitesmoke;
    border-collapse: collapse;
    width: 100px;
}

table.summary th, table.summary thead th, table.summary thead td {
    border: 1px silver;
    text-align: center;
    padding: 0.4em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    white-space:nowrap;
}

table.summary td {
    border: 1px silver;
    text-align: left;
    padding: 0.2em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    white-space:nowrap;
}

table.summary th {
    background: #bcbfc2;
}

table.summary caption {
    margin-left: inherit;
    margin-right: inherit;
}
