/*
 * Description: Beomon status viewer's CSS
 * Written by: Jeff White of the University of Pittsburgh (jaw171@pitt.edu)
 * Derived from unlicensed work by Adam Cerini of the University of Pittsburgh
 * Version: 2.1.2
 * Last change: Removed dropt class
*/





/* General */
body {
    background-color: #CCCCCC;
}


.title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #F6F2F2;
}





/* Tables */
table {
    margin: auto;
    background: whitesmoke;
    border-collapse: collapse;
}

table th, table thead th, table thead td {
    border: 1px silver;
/*     text-align: center; */
    padding: 0.4em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

table td {
    border: 1px silver;
/*     text-align: center; */
    padding: 0.2em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

table th {
    background: #bcbfc2;
}

table tr:hover td {
   background: mintcream !important;
}

table tr:nth-child(odd) {
    background: gainsboro;
}

table caption {
    margin-left: inherit;
    margin-right: inherit;
}
